.wrapperCard {
  width: min(40rem, 100%);
}

.headerCard,
.mainCard {
  width: 100%;
  padding: 1.2rem;
  background: var(--topColor);
  border: 4px solid var(--lineColor);
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.headerCard {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

swiper-container,
.buttonBox {
  width: 32%;
}

swiper-container:nth-child(1) {
  width: 64%;
}

swiper-container swiper-slide {
  display: flex;
}

swiper-container:nth-child(1) swiper-slide h3 {
  padding-top: 0.4rem;
  padding-left: 0.2rem; 
}

swiper-container:nth-child(2) swiper-slide {
  height: 1.6rem;
  border: 1px solid var(--lineColor);
  border-radius: 4px;
  display: flex;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

swiper-container:nth-child(2) swiper-slide::before {
  content: "";
  width: calc(var(--currentProgress) * 100 / var(--maxProgress) * 1%);
  background: hsl(
    calc(var(--currentProgress) * 100 / var(--maxProgress) * 1.2),
    100%,
    30%
  );
  border-radius: 0 4px 4px 0;
  transition: all 0.4s ease;
}

swiper-container:nth-child(2) swiper-slide span {
  color: var(--strongTextColor);
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: capitalize;
  position: absolute;
  top: 20%;
  left: 0.2rem;
}

swiper-container:nth-child(3) swiper-slide {
  align-items: center;
}

swiper-container:nth-child(3) swiper-slide span {
  width: 80%;
  padding-block: 0.8rem 0.4rem;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  color: var(--strongTextColor);
  background: var(--baseColor);
  border-radius: 12px;
  text-align: center;
}

.buttonBox{
  display: flex;
  justify-content: space-evenly;
}

.mainCard {
  padding-top: 5.6rem;
  background: var(--bottomColor);
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  gap: 1.6rem;
  position: relative;
}

.mainCard swiper-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.mainCard swiper-container p{
  padding-top: .8rem;
}