.button {
  width: 2.8rem;
  height: 2.8rem;
  background: none;
  border: none;
  border-radius: 100%;
  transition: all 0.8s;
}

.button:nth-child(2){
  width: 3.2rem;
  height: 3.2rem;
}

.button:hover {
    filter: brightness(.6);
}
