.change {
  width: 100%;
  font-size: 1rem;
  color: var(--whiteColor);
  text-transform: capitalize;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  position: absolute;
  top: 0.4rem;
  left:-.1rem;
}

.left,
.right {
  width: 100%;
  padding-inline:.8rem;
  display: flex;
  justify-content: start;
  gap: .8rem;
}

.right {
    justify-content: end;
  }

.valueBox {
  width: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.paragraph{
  padding-top: .4rem;
}

.paragraph:first-child {
  padding-inline: 0.4rem;
  border-bottom: 1px solid var(--whiteColor);
}
